Definiere eine Variable `a` und initialisiere sie mit dem Wert `10`.

In [1]:
a = 10
a

10

Kann die Variable `a` danach auch den Wert `'a'` bekommen?

In [3]:
a = 'a'
a

'a'

Weist `a` erneut den Wert `10` zu und berechnet das Quadrat von `a`.

In [9]:
a = 10
a = a**2
a

100

Schreibt eine Funktion, die das Quadrat der Eingabe berechnen kann.

In [6]:
def square(x):
    return x**2
square(2)

4

Addiert `a` jeweils einmal mit `True` und einmal mit `False`. Was kommt dabei heraus?

In [10]:
a = a + True
a = a + False
a

101

Teilt `a` durch `3`. Das Ergebnis ist abh채ngig vom verwendeten Interpreter.

In [11]:
a /= 3
a

33.666666666666664

Definiert eine Liste `l` mit den drei Zahlen `1,2,3` und der Variable `a`.

In [12]:
l = [1,2,3,a]
l

[1, 2, 3, 33.666666666666664]

Greift auf das letzte Element zu.

In [13]:
l

[1, 2, 3, 33.666666666666664]

Greift auf die ersten beiden Elemente zu.

In [36]:
l[:2]

[1, 2]

H채ngt eine `4` an die Liste `l` an.

In [20]:
l.append(4)
l

[1, 2, 3, 33.666666666666664, 4]

Wie lange ist die Liste `l`?

In [27]:
len(l)

5

Iteriert einmal 체ber die Liste und gebt jeden Eintrag aus.

In [29]:
for i in l:
    print(i)

1
2
3
33.666666666666664
4

Iteriert einmal 체ber die Liste und gebt jeweils Index und Eintrag aus.

In [39]:
for i in range(len(l)):
    print(i,l[i])

0 1
1 2
2 3
3 33.666666666666664
4 4